/* 

font-family: 'Playfair Display', serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Inconsolata', monospace;
*/

/* global css start */
*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    color: #626262;
}
.padd-70{
    padding: 70px 0px;
}
.padd-35{
    padding: 35px 0px;
}
.wrapper{
    width: 88.5%;
    /* border: 1px solid red; */
    margin: 0 auto;
    overflow: hidden;
}
.wrapper2{
    width: 75%;
    margin: 0 auto;
    overflow: hidden;
    /* border: 1px solid red; */
}
.row{
    overflow: hidden;
}
.col6{
    width: 46%;
    float: left;
    margin-top: 70px;
    margin-bottom: 70px;
}
.col6 img{
    width: 100%;
}
.mt-35{
    margin-top:35px !important;
}
.mr-col6{
    margin-right: 4%;
}
.ml-col6{
    margin-left: 4%;
}
.mb-130{
    margin-bottom: 130px;
}
.p-t{
    padding-top: 70px;
}
.p-b{
    padding-bottom: 70px;
}
.c_light{
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #b4ad9e;
    text-transform: uppercase;
}
 
.c_h1{
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 400;
}
.c_p{
    margin: 0;
    font-size: 16px;
    word-spacing: 5px;
    line-height: 25px;
}
.c_p a{
    color: #626262;
}
.black{
    color: #333333;
}
/* global css end */

/* header start */
header{
    padding: 25px 0px;
    /* border: 1px solid red; */
}

.logo{
    width: 10%;
    /* border: 1px solid red; */
    float: left;
}
.logo img{
    width: 100%;
    margin-top: 3px; 
}
.menu{
    width: 85%;
    /* border: 1px solid red; */
    float: right;
}
.menu ul{
    float: right;
}
.menu ul li{
    list-style: none;
    float: left;
}
.menu ul li a{
    margin: 0 50px;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    color: #626262;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 5px;
    display: inline-block;
    border-bottom: 1px solid transparent;
    transition: .6s;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -ms-transition: .6s;
    -o-transition: .6s;
}
.menu ul li:last-child a{
    margin-right: 0px;
}
.menu ul li a:hover{
    border-bottom: 1px solid #626262;
}

/* header end */

/* banner start */
.banner{
    overflow: hidden;
}
.banner img{
    width: 100%;
    display: inline-block;
    
}

/* banner end */

/* gateway start */
.gateway{
    padding: ;
}

.g_content{

}

.c_light{
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #b4ad9e;
    text-transform: uppercase;
}
 
.c_h1{
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 400;
}
.c_p{
    margin: 0;
    font-size: 16px;
    word-spacing: 5px;
    line-height: 25px;
}
/* gateway end */

/* blog start */
.blog{}



/* blog end */

/* sign up start */
.sign_up{
    background-color: #f0f0f0;
}
.sign_content{
    width: 50%;
    margin: 0 auto;
    border-bottom: 1px solid black;
    overflow: hidden;
}
.sign_content h1{
    text-align: center;
}
.sign_text{
    width: 80%;
    float: left;
}
.sign_text input{
    border: none;
    background: transparent;
}
.sign_text input:active{
    border: none;
    background: transparent;
}

.sign_text input:focus{
    outline: none;
}
.sign_img{
    width: 8%;
    float: right;
}
.sign_img img{
    width: 100%;
    cursor: pointer;
}

/* sign up end */

/* blog2 start */

/* blog2 end */

/* btn start */
.btn{
    padding-bottom: 150px;
    text-align: center;
}
.btn button{
    padding: 20px 35px;
    font-size: 20px;
    border: 1px solid black;
    transition: .6s;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -ms-transition: .6s;
    -o-transition: .6s;
    cursor: pointer;
}
.btn button:hover{
    background-color: #626262;
    color: white;
    border: 1px solid #626262;
}

/* btn end */

/* footer start */
.footer{
    background-color: #f0f0f0;
}
.footer_text{
    width: 50%;
    float: left;
}
.footer_icon{
    width: 30%;
    float: right;
    text-align: right;
}
.footer_icon p{
    display: inline;
    margin-right: 10%;
}
.footer_icon img{
    display: inline;
    margin-left: 5%;
    /* cursor: pointer; */
}
/* footer end */

